        <!--------------------
START - Breadcrumbs
-------------------->
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
        </ul>
        <!--------------------
END - Breadcrumbs
-------------------->
        <div class="content-panel-toggler">
          <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
        </div>
        <div class="content-i">
          <div class="content-box">
            <balance></balance>
            <app-buy-brln></app-buy-brln>
            <app-sell-brln></app-sell-brln>
            <devices>Carregando...</devices>
            <orders>Carregando...</orders>
            <visitors>Carregando...</visitors>
            <recentorders>Carregando</recentorders>
          </div>
          <!--------------------
START - Sidebar
-------------------->
          <div class="content-panel">
            <div class="content-panel-close">
              <i class="os-icon os-icon-close"></i>
            </div>
            <quicklinks>Carregando...</quicklinks>
            <support>Carregando...</support>
            <recentactivity>Carregando...</recentactivity>
            <app-teammembers>Carregando...</app-teammembers>
          </div>
          <!--------------------
END - Sidebar
-------------------->
        </div>
